/*font-family: 'Allura', cursive;
font-family: 'Electrolize', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lemon', cursive;
font-family: 'Mallanna', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Parisienne', cursive;
font-family: 'Rokkitt', serif;
font-family: 'Rouge Script', cursive;
font-family: 'Sarina', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Yesteryear', cursive;*/



/****************************Overordnet*******************************/

img {
    width: 100%;
}


body {
    margin: 0;
    margin-right: 30px;
    margin-left: 30px;
    padding: 0;
    height: 100%;
    background-color: #F8ECDE;
}

html {
    height: 100%;
}


#body {
    height: 100%;
    /* -webkit-background-size: cover;*/
    background-size: cover;
    background-position: center;
    position: relative;




    /*  background: linear-gradient(0deg, rgba(0, 44, 184, 1) 0%, rgba(81, 143, 235, 1) 52%, rgba(136, 229, 246, 1) 100%);*/
    background-repeat: no-repeat;

    /*background-image: linear-gradient(0deg, rgba(0,152,184,1) 0%, rgba(81,203,235,1) 50%, rgba(136,229,246,1) 100%);*/
    /*filter: brightness(75%);*/
}



/*background: rgb(0, 44, 184);*/

section {
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 50px;
    padding-bottom: 35px;
}


#body {
    overflow: hidden;

}

main {
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-size: 2.4rem;
    font-family: 'Old Standard TT', serif;
    margin-top: 45px;
    padding: 40px 30px 0;
    margin-bottom: 0;
    text-align: center;
}



h3 {
    font-size: 1.7rem;
    font-family: 'Old Standard TT', serif;
    margin-top: 0;
    padding: 40px 30px 0;
    margin-bottom: 0;
}


p {
    padding: 10px 30px;
    margin: 0;
    padding-bottom: 20px;
     font-family: 'Old Standard TT', serif;
    font-size: 1.1rem;
}



/***************************************Navigation og burger************************************/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 15px;*/
    /*float: right;*/
    /*flex-wrap: wrap;*/
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.nav_ul {
    display: flex;
    /* align-items: center;
    justify-content: center;*/
    padding: 0;
    list-style-type: none;
    margin: 0;

}

.nav_ul li a {
    display: inline-block;
    color: #000000;
    font-family: 'Old Standard TT', serif;
    padding: 10px 0;
    padding-right: 40px;

    text-decoration: none;
}


.hamburger {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.fa {
    font-size: 40px;
}


/*header {
    position: relative;
    height: 0;

}*/

nav {

    /*padding: 1rem;*/
    background: #F8ECDE;
    color: #000000;
    font-weight: 400;
    font-size: 1.2rem;
    /*flex-direction: column;*/
    text-align: left;
    display: flex;
    position: relative;


}

.logo {
    width: 180px;
    /*height: 100px;*/
    /*display: block;*/
}


footer {
    padding: 2.5rem;


}

p.footer_tekst {
    color: #000000;
    font-size: 1rem;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    text-align: center;

}


/*******************************Forside indhold************************************/




.portfolio_tekst {

    margin-top: 10rem;
    text-align: center;


}

.portfolio_forside {
    font-size: 7rem;
    font-family: 'Parisienne', cursive;
    margin-top: 40px;

    margin-bottom: 0;
    text-align: center;
    font-weight: initial;

}

.semester {
    font-size: 1.5rem;
    font-family: 'Old Standard TT', serif;
    margin-right: 380px;
}

.tekst_forside {
    font-size: 1.5rem;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    margin-right: -380px;
    margin-top: 40px;
    padding: 0;

}


/*#animation_elements {
    width: 100%;
    height:100%;
    position: absolute;
}*/


/*************************************Jellyfish****************************************/

/*#jellyfish_adult_mini_container {
    transform: rotate(20deg);
}
#jellyfish_adult_mini_sprite {
    background-image: url(svg/jellyfish_adult_large.svg);
    width: 20.5vw;
    height: 17.5vw;
    background-size: cover;
    position: absolute;
    top: 87vw;
    left: 35vw;
}


#jellyfish_adult_small_container {
    transform: rotate(20deg);
}
#jellyfish_adult_small_sprite {
    background-image: url(svg/jellyfish_adult_large.svg);
    width: 27.5vw;
    height: 23.5vw;
    background-size: cover;
    position: absolute;
    top: 28vw;
    left: 10vw;
}



#jellyfish_adult_medium_container {
    transform: rotate(20deg);
}
#jellyfish_adult_medium_sprite {
    background-image: url(svg/jellyfish_adult_large.svg);
    width: 31.7vw;
    height: 27.3vw;
    background-size: cover;
    position: absolute;
    top: 51vw;
    left: 77vw;
}*/


#jellyfish_adult_large_sprite {
    background-image: url(svg/jellyfish_adult_large.svg);
    width: 16.35vw;
    height: 14vw;
    background-size: cover;
    /*position: absolute;*/
    position: relative;
    top: 3vw;
    left: 8vw;
}

#jellyfish_adult_large_container {
    transform: rotate(20deg);
}

/*#jellyfish_baby_small_sprite {
    background-image: url(svg/jellyfish_baby_small.svg);
    width: 13.7vw;
    height: 12.3vw;
    background-size: cover;
    position: absolute;
    top: 107vw;
    left: 61vw;
}
#jellyfish_baby_small_container {
    transform: rotate(20deg);
}


#jellyfish_baby_medium_sprite {
    background-image: url(svg/jellyfish_baby_small.svg);
    width: 19.7vw;
    height: 18.3vw;
    background-size: cover;
    position: absolute;
    top: 82vw;
    left: 100vw;
}
#jellyfish_baby_medium_container {
    transform: rotate(20deg);
}*/

#jellyfish_baby_large_sprite {
    background-image: url(svg/jellyfish_baby_small.svg);
    width: 7.7vw;
    height: 7.12vw;
    background-size: cover;
    position: absolute;
    top: 5vw;
    left: 81vw;
}

#jellyfish_baby_large_container {
    transform: rotate(-32deg);
}


.delay {
    animation-delay: 0.5s;
}


/**********************************************animation********************************************/

.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

    align-self: flex-end;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, 1) translateY(0);
    }

    30% {
        transform: scale(.9, 1) translateY(-35px);
    }

    50% {
        transform: scale(1.05, .75) translateY(-65px);
    }

    57% {
        transform: scale(1, 1) translateY(-22px);
    }

    64% {
        transform: scale(1, 1) translateY(-11px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}





.web_wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*  grid-gap: 10px;*/
}



.tekst_02_04_02 {
    grid-column: 1/2;

}

.billede_02_04_02 {
    grid-column: 2/3;
    padding: 10px 30px;
}



.ux_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    grid-gap: 10px;

}


.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*.tekst_03_01_05 {
    padding: 10px 30px;
}*/


.billede_03_01_05 {
    padding: 10px 30px;
}

/*.tekst_03_03_02 {
    padding: 10px 30px;

}*/

.billede_03_03_02 {
    padding: 10px 30px;
}

/*.tekst_03_03_03 {
    padding: 10px 30px;
}*/

.billede_03_03_03 {
    padding: 10px 30px;
}






.column2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.billede_04_01_05 {
    padding: 10px 30px;
}

.billede_04_05_01 {
    padding: 10px 30px;
}




.column4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.billede_05_01_01 {
    padding: 10px 30px;
}

.billede_05_03_01 {
    padding: 10px 30px;

}

/******************************************Mediaqueries**********************************/
/*****************************Mobil version**********************************************/

@media screen and (max-width:900px) {

    .ux_wrapper {
        display: initial;
        grid-template-columns: none;

    }


    .column {

        display: initial;
        grid-template-columns: none;
        flex-direction: none;
        justify-content: none;

    }
}





@media screen and (max-width:850px) {



    .web_wrapper2 {

        display: initial;
        grid-template-columns: none;

        /*  grid-gap: 10px;*/
    }


    .nav_ul {
        display: none;
        flex-direction: column;
        width: 140px;
        position: absolute;
        background: #F8ECDE;

        /*linear-gradient(0deg, rgba(136,229,246,1) 0%, rgba(81,143,235,1) 52%, rgba(0,44,184,1) 100%);*/
        /*border: 0px solid white;*/
        /*padding: 50px;*/
        margin-top: 300px;
        margin-left: 26px;
        z-index: 1;
        border: solid black 1px;
    }

    li {
        border: solid black 1px;
    }

    .nav_ul.show {
        display: flex;
    }


    .hamburger {
        display: block;
    }

    .logo {
        width: 180px;
        /*height: 100px;*/
        /*display: block;*/
        align-items: center;
        display: block;
    }


    #jellyfish_baby_large_sprite {
        top: -8vw;
        left: 93vw;
    }


    #jellyfish_adult_large_sprite {
        top: 15vw;
        left: 11vw;
    }




    .portfolio_forside {
        font-size: 14vw;
        margin-top: 40px;



    }

    .semester {
        font-size: 3vw;
        margin-right: 48vw;
    }

    .tekst_forside {
        font-size: 3vw;
        margin-top: 40px;
        margin-right: -48vw;
    }


    @media screen and (max-width:700px) {

        .column2 {
            display: initial;
            grid-template-columns: none;
        }

        .column3 {
            display: initial;
            grid-template-columns: none;
        }


        .column4 {
            display: initial;
            grid-template-columns: none;
        }

        .column5 {
            display: initial;
            grid-template-columns: none;
        }
    }


}

@media screen and (max-width:600px) {
    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p{
        font-size: 1rem;
    }
}

@media screen and (max-width:400px) {

    nav {
        justify-content: initial;
    }

    .logo {
        margin-left: 7.5vw;
    }


    .portfolio_tekst {

        margin-top: 6rem;
        text-align: center;


    }

    .portfolio_forside {
        font-size: 16vw;
        margin-top: 90px;

    }

    .semester {
        font-size: 5vw;
        margin-right: 0;
        text-align: center;
    }

    .tekst_forside {
        font-size: 5vw;
        margin-top: 90px;
        margin-right: 0;
        text-align: center;
    }

    #jellyfish_baby_large_sprite {
        top: -33vw;
        left: 106vw;
    }


    #jellyfish_adult_large_sprite {
        top: -11vw;
        left: -2vw;
    }

}

@media screen and (max-width:450px) {
    h2 {
        font-size: 1.35rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    p{
        font-size: 0.95rem;
    }
}


/*h2 {
    overflow: auto;
}*/

/*måske skifte til nav? ser på det. */
