img {
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;

}

html {
    height: 100%;
}




body {
    background-image: url(img/water.jpg);
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;


    background: linear-gradient(0deg, rgba(0, 44, 184, 1) 0%, rgba(81, 143, 235, 1) 52%, rgba(136, 229, 246, 1) 100%);
    background-repeat: no-repeat;

}

/*background: rgb(0, 44, 184);*/



nav {
    display: flex;
    /*align-items: center;
    justify-content:center;*/
    padding: 15px;
    /*float: right;*/

    flex-wrap: wrap;

}

.nav_ul {
    display: flex;
    /* align-items: center;
    justify-content: center;*/
    padding: 0;
    list-style-type: none;

}

.nav_ul li a {
    display: inline-block;
    color: #fff;
    font-family: sans-serif;
    padding: 10px 20px;
    text-decoration: none;
}


.hamburger {
    background-color: transparent;
    border: 0;
    color: #DE7BBC;
    font-size: 20px;
    cursor: pointer;
    display: none;
}









.portfolio_forside,
.tekst_forside {
    text-align: center;
}


.portfolio_tekst {

    margin-top: 10rem;

}














/*#animation_elements {
    width: 100%;
    height:100%;
    position: absolute;
}*/

#jellyfish_adult_large_sprite {
    background-image: url(svg/jellyfish_adult_large.svg);
    width: 44.7vw;
    height: 38.3vw;
    background-size: cover;
    position: absolute;

    top: 10vw;
    left: 56vw;



}

#jellyfish_adult_large_container {
    transform: rotate(20deg);
}


/*transform tingene*/

.bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

    align-self: flex-end;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes bounce-7 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, 1) translateY(0);
    }

    30% {
        transform: scale(.9, 1) translateY(-35px);
    }

    50% {
        transform: scale(1.05, .75) translateY(-65px);
    }

    57% {
        transform: scale(1, 1) translateY(-22px);
    }

    64% {
        transform: scale(1, 1) translateY(-11px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}






@media screen and (max-width:700px) {
    .nav_ul {
        display: none;
        flex-direction: column;
        width: 110px;
        position: absolute;
        background: linear-gradient(0deg, rgba(136,229,246,1) 0%, rgba(81,143,235,1) 52%, rgba(0,44,184,1) 100%);
        /*border: 0px solid white;*/
        /*padding: 50px;*/
        margin: 7px;
    }

    .nav_ul.show {
        display: flex;
    }


    .hamburger {
        display: block;
    }
}



/*section {
    max-width: 1200px;
    margin: 0 auto;
}*/





/*#title_ani {


    background-position: 25% 10%;
    background-position: center center;

    width: 100%;
    height: 100vh;
    background-image: url(img/water.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;


}*/


/*h2 {
    overflow: auto;
}*/

/*måske skifte til nav? ser på det. */


/*header {
    position: relative;
    height: 0;

}*/

/*nav {

    padding: 2.7rem;
    background: #8FCDF7;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    flex-direction: column;
    text-align: left;
    display: flex;


}*/


/*footer {
    padding: 1.5rem;
    background: #8FCDF7;
    color: #fff;
}*/
